/* Navbar Styling */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
/* Variables  */
.shape {
  background-color: rgb(182, 166, 255);
  width: 250px;
  border-radius: 30px;
  position: absolute;
  top: 20%;
  filter: blur(10px);
  transform: rotate(30deg);
  height: 250px;
  left: -30px;
}
.shape2{
  background-color: rgb(182, 166, 255);
  width: 50px;
  border-radius: 80px;
  position: absolute;
  top: 15%;
  filter: blur(10px);
  /* transform: rotate(30deg); */
  height: 50px;
  right: 25%;
}
.shape3 {
  background-color: rgb(182, 166, 255);
  width: 200px;
  border-radius: 30px;
  position: absolute;
  bottom: 20%;
  filter: blur(10px);
  transform: rotate(30deg);
  height: 200px;
  right: 40%;
}
:root {
  --btn-color: rgb(255, 255, 255);
  --btn-background: #b80c0c;
  --btn-hover-background: rgb(0, 3, 194);
  --body-background: rgb(232, 225, 255);
  --nav-btn-hover-color: red;
  --text-color-opacity: 80%;
  --text-color: rgba(0, 0, 0, 0.651);
  --btn-shadow: 2px 2px 10px #1616165d;
}
* {
  margin: 0px;
  padding: 0px;
  color: black;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

/* up arrow  */

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--btn-background);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn.show i {
  color: white;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

@media (max-width: 500px) {
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}

body {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
  background-color: var(--body-background);
  background-repeat: no-repeat;
}

/* home styling  */
.home {
  width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  /* filter: blur(8px); */
  background-color: rgb(232, 225, 255);
}
.overlay {
  padding: 20px;
  height: 100vh;
  position: relative;
}
.overlay .head-home {
  font-size: 150px;
  font-weight: 800;
  /* margin-left: 35px; */
}
.overlay .head-home span {
  color: blue;
}
.overlay .img-shape {
  margin-top: 30px;
  display: grid;
  place-items: center;
}
.overlay .img-shape .square {
  background-color: rgb(43, 0, 255);
  width: 350px;
  right: 10%;
  top: 35%;
  transform: translateY(-50%);
  position: absolute;
  overflow: hidden;
  text-align: center;
  border-radius: 200px 150px 160px 142px;
  height: 350px;
}
.overlay .img-shape .square img{
  width: 200px;
}
.overlay .home-text {
  text-align: left;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 10px;
}
.overlay .home-text span {
  color: blue;
}
.home-icons{ 
  width: 100%;
  padding: 5px 0;
  margin-top: 30px;
  position: absolute;
  width: fit-content;
  right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-icons .home-icon{
  padding: 5px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 10px;
  width: 30px;
  transition: .5s ease;
  height:30px;
  display: grid;
  place-items: center;
  /* opacity: 20%; */
  background-color: rgba(204, 193, 240, 0.441);
}
.home-icons .home-icon i{
  color: rgb(25, 15, 108);
}
.home-icons .home-icon:hover{
  background-color: rgba(158, 153, 198, 0.886);
}
.scroll-home {
  /* position:absolute; */
  bottom: 10px;
  display: none;
  padding: 10px;
  margin-top: 20px;
  /* transform: translateX(25%); */
}
.scroll-home .scroll-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-home .circle {
  width: 30px;
  margin-right: 20px;
  position: relative;
  border-radius: 20px;
  height: 60px;
  border: 1px solid rgba(81, 93, 108, 0.674);
}
.scroll-home .swipe-text {
  letter-spacing: 2px;
}
.circle::before{
  content: "";
  position: absolute;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.297);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 25px;
}

@media (max-width: 930px) {
  .shape2{
    background-color: rgb(182, 166, 255);
    width: 50px;
    border-radius: 80px;
    top: 10%;
    filter: blur(10px);
    /* transform: rotate(30deg); */
    height: 50px;
    right: 30px;
  }
  .shape3 {
    background-color: rgb(182, 166, 255);
    width: 200px;
    border-radius: 30px;
    bottom: 20%;
    filter: blur(10px);
    height: 200px;
    right: 50px;
  }
  .home {
    padding-top: 50px;
  }
  .overlay {
    height: 100vh;
    position: relative;
  }
  .overlay .head-home {
    font-size: 60px;
    font-weight: 800;
  }
  .overlay .head-home span {
    color: blue;
  }
  .overlay .img-shape {
    margin-top: 30px;
    display: grid;
    place-items: center;
  }
  .overlay .img-shape .square {
    background-color: rgb(43, 0, 255);
    width: 250px;
    text-align: center;
    position: static;
    overflow: hidden;
    border-radius: 200px 150px 160px 142px;
    transform: translateY(0);
    height: 250px;
  }
  .overlay .img-shape .square img{
    width: 200px;
  }
  .overlay .home-text {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    
  margin-left: 00px;
    position: static;
  }
  .overlay .home-text span {
    color: blue;
  }
  .home-icons{ 
    position: static;
    width: 100%;
  }
  .scroll-home {
    /* position:absolute; */
    bottom: 10px;
    display: block;
    padding: 10px;
    left: 50%;
    /* transform: translateX(25%); */
  }
  .scroll-home .scroll-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scroll-home .circle {
    width: 30px;
    margin-right: 20px;
    border-radius: 20px;
    height: 60px;
    border: 1px solid rgba(81, 93, 108, 0.674);
  }
  .scroll-home .swipe-text {
    letter-spacing: 2px;
  }
}

/* NAvigation Style */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  display: flex;

  background-color:transparent;
  justify-content: space-between;
  padding: 15px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.sticky {
  background-color: rgb(226, 225, 255);
  box-shadow: black 0 -6px 10px;
}

.max-width {
  width: 100%;
  padding: 0 30px;
  margin: auto;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .max-width .logo {
  font-weight: 800;
  font-size: 20px;
}

.navbar .max-width .logo span {
  color: red;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.img {
  display: none;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  /* transition: all 0.3s ease; */
}
.navbar ul li .blog-search {
  /* background-color: red; */
  margin: 0 10px;
  height: 25px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.187);
  outline: none;
}
.navbar ul li button {
  height: 100%;
  background-color: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, 0.187);
}
.navbar ul li button i {
  font-size: 10px;
  text-align: center;
  color: black;
}

.navbar ul li a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-left: 25px;
  cursor: pointer;
  font-weight: 800;
  padding-bottom: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  /* border-bottom: 5px solid transparent; */
}
.clicked {
  color: var(--btn-background);
}

.navbar ul li i {
  margin: 0 5px;
}

.navbar ul li a:hover {
  color: var(--btn-background);
}

.navbar ul .btn {
  margin: 0 10px;
}

.navbar ul .btn a {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 2px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar ul #user {
  background-color: transparent;
  color: black;
  font-weight: 700;
}

.navbar ul .btn a i {
  color: rgb(0, 0, 0);
  margin: 0 2px;
}

.navbar ul #sign-out {
  border: none;
  background-color: var(--btn-background);
  color: var(--btn-color);
  font-weight: 700;
  box-shadow: var(--btn-shadow);
}

.navbar ul #sign-out:hover {
  background-color: var(--btn-hover-background);
}

.navbar .max-width .burger {
  display: none;
  left: 10px;
  position: absolute;
}

.navbar ul .icons {
  display: none;
}

.navbar ul .close {
  font-size: 30px;
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.navbar ul .close i {
  font-size: 40px;
  color: white;
  transition: all 0.5s ease-in-out;
}
.navbar .blog-search-li {
  margin-left: 20px;
}
.navbar .blog-search-li .left-search {
  background-color: white;
  display: flex;
  margin: 5px;
  position: relative;
  width: 170px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 20px;
}
.navbar .blog-search-li .left-search .blog-search {
  height: 20px;
  margin: 0;
  background-color: transparent;
  border: none;
  width: 55%;
}
.navbar .blog-search-li .left-search button {
  height: 20px;
  position: absolute;
  right: 4px;
  background-color: transparent;
  border: none;
}

/* Resposive navigation bar style  */

@media (max-width: 974px) {
  .overlay-nav{
    position: absolute;
    height: 100%;
    transition: 0.5s linear;
    width: 200%;
    background: #2b23689d;
    filter: blur(15px);
  }
  .max-width {
    padding: 0 20px;
    width: 100%;
  }
  .navbar ul .img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    border-radius: 50px;
    top: 50px;
    overflow: hidden;
  }
  .navbar .max-width .logo {
    margin-left: 30px;
  }
  .navbar ul .img img {
    width: 80px;
  }
  .navbar .max-width .burger {
    display: block;
    z-index: 999;
    cursor: pointer;
    color: rgb(0, 0, 0);
  }
  .navbar .max-width .burger i {
    font-size: 30px;
  }
  .burger .color {
    display: none;
  }
  .navbar .menu {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 80%;
    left: -200%;
    top: 0px;
    flex-direction: column;
    transition: all 0.2s linear;
  }
  .navbar .active {
    left: 0;
  }
  .navbar ul {
    position: relative;
  }
  .navbar ul .navi {
    z-index: 999;
    background-color: white;
    /*         border:1px solid yellow; */
    /* position: relative; */
    display: block;
    padding: 20px 0;
    margin-top: 50px;
    height: 100%;
  }
  .navbar ul li {
    margin: 2px 5px;
    width: 70%;
    text-align: left;
    /* border:2px solid red; */
    padding: 5px 20px;
  }
  .navbar ul li i {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-right: 10px;
  }
  .navbar .menu li a {
    /* text-align: center; */
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 800;
    margin-left: 0px;
  }
  .navbar .blog-search-li {
    background-color: rgb(255, 255, 255);
    position: absolute;
    padding: 0 0px;
    top: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.146);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    margin: 0;
    height: 55px;
    width: 100%;
  }
  .navbar .blog-search-li .left-search {
    background-color: rgb(3, 8, 157);
    overflow: visible;
    border: none;
    /* padding: 10px 5px; */
    display: flex;
    margin: 5px;
    width: 100%;
  }
  .navbar .blog-search-li .left-search .blog-search {
    height: 35px;
    margin: 0;
    background-color: rgb(244, 241, 241);
    border: none;
    width: 100%;
  }
  .navbar .blog-search-li .left-search button {
    height: 35px;

    background-color: rgb(244, 241, 241);
    border: none;
  }
  .navbar ul .close {
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
  }
  .navbar ul .close i {
    font-size: 20px;

    color: black;
  }
  .clicked {
    color: var(--btn-background);
  }
  .navbar ul .btn {
    position: absolute;
    bottom: 20%;
  }
  .navbar ul .btn #user {
    color: white;
  }
  .navbar ul .btn a {
    border: 1px solid white;
    color: white;
  }
  .navbar ul .btn a i {
    color: rgb(255, 255, 255);
  }
  .navbar ul .icons {
    /*         border:1px solid red; */
    display: block;
    display: flex;
    position: absolute;
    bottom: 20px;
  }
  .navbar ul .icons .icon {
    width: 30px;
    background-color: rgb(1 2 64);
    /*         border:1px solid yellow; */
    margin: 2px;
    display: grid;
    place-items: center;
    padding: 3px;
    height: 30px;
  }
  .navbar ul .icons .icon i {
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar ul .icons .icon i:hover {
    font-size: 25px;
  }
}

/* main format styling  */
body .wrapper {
  /* padding: 5px; */
  display: block;
  position: relative;
  background-color: var(--body-background);
  height: auto;
  margin-top: 60px;
  /* border: 2px solid red; */
}

section .box {
  max-width: 1300px;
  display: block;
  padding: 0 25px;
  /* border: 1px solid red; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

section h1 {
  text-align: center;
  padding: 10px 0;
  /* border: 1px solid red; */
}

section .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

/* Content box styling  */
section .content {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 25px 20px;
  padding: 10px;
  transition: 0.5s ease-in;
  height: 400px;
  border-radius: 5px;
  position: relative;
  background: #ffffff;
  box-shadow: 5px 5px 10px #bfbdbda6;
}

section .content:hover {
  transform: translateY(10px);
}

/* conetnt box responsie */

@media (max-width: 825px) {
  .wrapper .content {
    width: 200px;
    padding: 10px;
    height: 300px;
  }
  .wrapper .content .head {
    font-size: 15px;
  }
  .wrapper .content .btn .date {
    font-size: 8px;
  }
  .wrapper .content .btn .btn-1 a {
    padding: 5px 30px;
  }
  .wrapper .content .btn {
    margin-top: 0;
    padding: 0;
  }
}

@media (max-width: 740px) {
  .wrapper .content {
    width: 200px;
    padding: 10px;
    margin: 10px 5px;
  }
  .wrapper .content .head {
    font-size: 15px;
    padding: 10px 0;
  }
  .wrapper .content .text {
    font-size: 10px;
  }
  .wrapper .content .btn {
    margin-top: 10px;
    padding: 0;
  }
  .wrapper .content .btn .date {
    font-size: 8px;
  }
  .wrapper .content .btn .btn-1 a {
    padding: 2px 20px;
    font-size: 15px;
    border-radius: 5px;
  }
}

@media (max-width: 477px) {
  .wrapper .content {
    width: 180px;
    padding: 10px;
    height: 250px;
  }
  .wrapper .content .data {
    border-radius: 5px;
  }
  .wrapper .content .head {
    font-size: 15px;
  }
  .wrapper .content img {
    border-radius: 5px;
  }
  .wrapper .content .btn {
    margin-top: 0;
    padding: 0;
  }
  .wrapper .content .text {
    font-size: 10px;
    padding: 5px 0;
  }
  .wrapper .content .btn .date {
    font-size: 8px;
  }
  .wrapper .content .btn .btn-1 a {
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 10px;
  }
  .wrapper .content {
    width: 145px;
    padding: 5px;
    height: 200px;
  }
}
@media (max-width: 380px) {
  .wrapper .content {
    width: 100%;
    padding: 10px;
    height: 400px;
  }
  .wrapper .content .btn {
    margin-top: 0;
    padding: 0;
  }
  .wrapper .content .head {
    font-size: 30px;
  }
  .wrapper .content .text {
    font-size: 15px;
  }
  .wrapper .content .btn .date {
    font-size: 15px;
  }
  .wrapper .content .btn .btn-1 a {
    padding: 15px 60px;
    font-size: 12px;
    border-radius: 3px;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 15px;
}
::-webkit-scrollbar-track-piece {
  background-color: none;
}
::-webkit-scrollbar-thumb:vertical {
  height: 15px;
  background-color: #f0ebeb;
}

/* Blog card design */
.card-3 {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(69, 69, 69, 0.098);
  display: flex;
  padding: 10px 0;
}
.card-3 img {
  width: 250px;
  margin-left: 10px;
}
.card-3 .card-right {
  /* background-color: yellow; */
  width: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.card-3 .card-right .tag {
  background-color: rgb(222, 222, 228);
  display: inline;
  padding: 5px 20px;
  width: fit-content;
  border-radius: 20px;
}
.card-3 .card-right .head {
  font-size: 30px;
  margin: 5px 0;
  font-family: "Roboto Condensed', Arial, sans-serif";
  font-weight: 800;
}
.card-3 .card-right .text {
  /* background-color: red; */
  text-align: justify;
  margin: 5px 0;
  opacity: 80%;
}
.card-3 .card-right .date-author {
  /* background-color: red; */
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
  bottom: 2px;
}
.card-3 .card-right .date-author i {
  margin-right: 5px;
  font-size: 20px;
}
.card-3 .card-right .date-author .author {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-3 .card-right a {
  background-color: var(--btn-background);
  margin-top: 10px;
  text-align: center;
  width: 200px;

  padding: 10px;
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
  border-radius: 2px;
  /* text-align: right; */
}

/* blog left right responsive */
@media (max-width: 830px) {
  .blogbox {
    flex-direction: column;
    /* border: 1px solid red; */
  }
  .blogbox .blogLeft {
    width: 100%;
    margin-right: 0;
  }
  .blogbox aside {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  .popular-side {
    width: 100%;
    margin-bottom: 0;
    margin-top: 20px;
  }
}

.blogLeft {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 80px;
  width: 100%;
  margin-right: 20px;
  flex-direction: column;
  /* margin: 5px; */
  justify-content: center;
}

.blogbox {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

aside {
  /* border: 2px solid rgb(114, 110, 110); */
  padding: 10px;
  width: 32%;
  height: auto;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  /* margin: 5px; */
  align-items: center;
  /* margin-left: 5px; */
  overflow-y: scroll;
}

/* popular post styling */

.popular-side {
  padding: 0 0px;
  /* border: 1px solid red; */
  width: 100%;
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 2px 2px 10px #bfbdbd75;
  padding-bottom: 20px;
}
.popular-side .blog-side {
  text-align: left;
  /* border: 1px solid red; */
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.186);
  width: 95%;
  background-color: white;
  margin-left: 10px;
  font-weight: 800;
}

.popular-post {
  height: 320px;
  display: grid;
  background-color: rgb(255, 255, 255);
  place-items: center;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.popular {
  /* border: 1px solid red; */
  justify-content: center;
  height: 60px;
  display: flex;
  padding: 5px 0;
  background-color: white;
  /* padding:0 10px; */
  margin: 2px 0;
  border-radius: 1px;
  width: 100%;
  /* box-shadow:2px 2px 16px rgba(0, 0, 0, 0.063); */
}
.popular .left-blog {
  /* border: 1px solid red; */
  display: grid;
  place-items: center;
  width: 100px;
}
.popular .left-blog img {
  width: 50px;
  /* padding: 0 2px; */
  border-radius: 1px;
}

.popular .right-blog {
  /* border: 1px solid blue; */
  width: 100%;
  /* padding: 0 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.popular .right-blog .head {
  font-weight: 900;
  font-size: 15px;
}
.popular .right-blog .date {
  font-size: 10px;
  opacity: 80%;
}
.popular .right-blog .author {
  font-size: 9px;
  opacity: 80%;
}

.wrapper .content .btn .btn-1 a:hover {
  background-color: var(--btn-hover-background);
}

/* Category Styling */
.category {
  width: 100%;
  /* background-color: rgb(67, 34, 186); */
  height: auto;
  align-items: center;
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}
.category a {
  /* background-color: red; */
  background-color: rgba(218, 218, 252, 0.372);
  width: auto;
  padding: 2px 10px;
  border-radius: 5px;
  height: 20px;
  margin: 5px;
  transition: 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  /* border: 0.5px solid rgba(0, 0, 0, 0.194); */
  font-size: 10px;
}
.category a:hover {
  background-color: var(--btn-hover-background);
  color: var(--btn-color);
}
/* Connect Us Styling */
.blog-connect {
  /* border: 1px solid red; */
  padding: 5px 0;
}
.blog-connect .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: red; */
}
.blog-connect .input .email {
  padding: 10px 0;
  text-align: center;
  outline: none;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.186);
}

.blog-connect .input .subscribe {
  padding: 10px 0;
  font-weight: 800;
  letter-spacing: 3px;
  width: 95%;
  border: none;
  background-color: none;
  background-color: var(--btn-background);
  color: var(--btn-color);
  cursor: pointer;
  transition: all 0.5s ease;
}
.blog-connect .input .subscribe:hover {
  background-color: var(--btn-hover-background);
}
.blog-connect .input .inpult-field {
  margin: 2px 0;
}

/* services card design  */

.content .image {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.content .image img {
  height: 100%;
  border-radius: 5px;
  transition: 0.5s ease;
}

.content:hover .image img {
  transform: scale(1.1);
}

.wrapper .about {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.5s ease-in;
}

.wrapper .about .skill {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}

.wrapper .about .sub-skill {
  font-size: 15px;
  text-align: center;
  color: var(--btn-background);
  font-weight: 800;
}

.content .content-1 {
  position: absolute;
  bottom: 0;
  background: rgb(26, 26, 26);
  padding: 20px 0;
  width: 100%;
  transition: 0.5s ease-in;
  left: 0;
  border-radius: 5px 5px 0 0;
  opacity: 0;
}

.content:hover .content-1 {
  opacity: 1;
}

.content:hover .about {
  display: none;
}

.content .content-1 .skill {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  color: white;
}

.content .content-1 .sub-skill {
  font-size: 15px;
  text-align: center;
  color: var(--btn-background);
  font-weight: 800;
  color: rgb(38, 0, 255);
}

.content .content-1 .bottom {
  padding: 10px;
  /* display: none; */
  transition: all 0.5s ease;
}

.content .content-1 .bottom .text {
  text-align: justify;
  color: WHite;
}

.content .content-1 .bottom .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.content .content-1 .bottom .btn a {
  padding: 15px 40px;
  background-color: var(--btn-background);
  color: var(--btn-color);
  border-radius: 5px;
}

.content .content-1 .bottom .btn a:hover {
  background-color: var(--btn-hover-background);
}

@media (max-width: 705px) {
  .content {
    width: 265px;
    height: 350px;
  }
}

@media (max-width: 585px) {
  .content {
    width: 195px;
    height: 250px;
  }
  .content .content-1 .skill {
    font-size: 20px;
  }
  .wrapper .about .skill {
    font-size: 20px;
  }
  .wrapper .about .sub-skill {
    font-size: 15px;
  }
  .content .content-1 .sub-skill {
    font-size: 15px;
  }
  .content .content-1 .bottom .text {
    font-size: 10px;
  }
  .content .content-1 .bottom .btn a {
    padding: 8px 40px;
  }
}

@media (max-width: 485px) {
  .content {
    width: 175px;
    height: 250px;
  }
}

@media (max-width: 402px) {
  .content {
    width: 150px;
    height: 200px;
  }
  .content .content-1 .skill {
    font-size: 15px;
  }
  .wrapper .about .skill {
    font-size: 15px;
  }
  .wrapper .about .sub-skill {
    font-size: 12px;
  }
  .content .content-1 .sub-skill {
    font-size: 12px;
  }
  .content .content-1 .bottom .text {
    font-size: 8px;
  }
  .content .content-1 .bottom .btn a {
    padding: 8px 30px;
  }
}

/* contact form design  */
.wrapper .content-contact .text {
  color: var(--text-color);
  padding: 10px 0;
  text-align: justify;
}
.wrapper .content-contact .inputs {
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper .content-contact .inputs img {
  width: 50%;
}
.wrapper .content-contact .inputs .form {
  /* border: 2px solid rgb(0, 0, 0); */
  width: 100%;
  padding: 0;
}
.wrapper .content-contact .inputs form {
  /* border: 2px solid red; */
  width: 100%;
  display: grid;
  place-items: center;
}

.wrapper .content-contact .inputs form .input-box .text {
  font-weight: 800;
  color: black;
}

.wrapper .content-contact .inputs form .data {
  /* border: 1px solid blue; */
  width: 90%;
  padding: 10px;
}

.wrapper .content-contact .inputs form .data .input-box .input-data {
  width: 100%;
  padding: 8px 0;
  margin: 5px 0;
}

.wrapper .content-contact .inputs form .data .btn {
  /* border: 2px solid red; */
  display: grid;
  margin-top: 10px;
  place-items: center;
}

.wrapper .content-contact .inputs form .data .btn .btn-sub {
  padding: 10px 70px;
  background-color: var(--btn-background);
  color: var(--btn-color);
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.wrapper .content-contact .inputs form .data .btn .btn-sub:hover {
  background-color: var(--btn-hover-background);
}
@media (max-width: 1000px) {
  .wrapper .content-contact .inputs img {
    display: none;
  }
}
@media (max-width: 500px) {
  .wrapper .content-contact .inputs form .data {
    width: 100%;
  }
  .wrapper .content-contact .text {
    font-size: 12px;
  }
}

/* footer styling  */
footer {
  display: flex;
  justify-content: space-between;

  background-color: black;
  padding: 10px 10px;
  align-items: center;
}
footer .copyright {
  height: auto;
  color: white;

  padding: 5px 10px;
  /* border: 1px solid red; */
}

footer .copyright span {
  color: red;
}

footer .pages {
  display: flex;
  /* border: 1px solid red; */
  padding: 5px 10px;
}
footer .pages a {
  /* color: white; */
  color: white;
  font-size: 13px;
  width: auto;
  margin: 0 3px;
  /* border: 1px solid red; */
  width: auto;
  text-align: center;
  opacity: var(--text-color-opacity);
}
footer .pages a:hover {
  opacity: 100%;
}
@media (max-width: 570px) {
  footer {
    flex-direction: column;
  }
  footer .copyright {
    text-align: center;
  }
}

/* blogscreen styling  */

.red {
  /* text-align: justify; */
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.068);
  width: 95%;
  padding: 20px;
  height: auto;
}
.red header {
  /* background-color: yellow; */
  padding: 5px;
}
.red header a {
  display: flex;
  color: rgb(255, 0, 0);
  flex-direction: row;
  align-items: center;
}
.red header a span {
  margin-left: 10px;
}
.red header a i {
  font-size: 30px;
  font-weight: 800;
  margin-right: 10px;
}
.red header h1 {
  text-align: left;
  font-size: 37px;
  font-family: "Roboto Condensed', Arial, sans-serif";
  /* background-color: red; */
  /* font-weight: 800; */
}
.red header .intro {
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
}
.red header .intro .blogLeftScreen {
  display: flex;
  align-items: center;
}
.red header .intro .blogLeftScreen span {
  opacity: 80%;
}
.red header .intro .blogLeftScreen img {
  width: 30px;
  height: 28px;
  margin-right: 10px;
  border-radius: 50px;
  border-bottom: 2px solid rgb(255, 0, 0);
  border-top: 2px solid rgb(255, 0, 0);
}
.red header .intro .blogRightScreen i {
  margin-right: 5px;
}
.red header .intro .blogRightScreen span {
  opacity: 80%;
}
/* .red .blogdata{
  background-color: red;
} */
.red .blogdata img {
  width: 100%;
}
.red .blogdata h4 {
  position: absolute;
  margin: 7px 20px;
  background-color: var(--btn-background);
  display: inline;
  color: white;
  font-weight: 800;
  padding: 5px 40px;
  border-radius: 10px;
}
.red .blogdata .render img {
  width: auto;
}
@media (max-width: 830px) {
  .red {
    height: 100%;
    margin-right: 0;
  }
}
/* Ads components stylings */

.ads-box {
  background-color: var(--body-background);
  padding: 10px 0 20px 0;
}
.ads-box h3 {
  padding: 10px 0;
  text-align: center;
}
.ads-box .ads-cards {
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.ads-box .ads-cards .ads-card {
  background-color: rgb(184, 184, 184);
  height: 200px;
  width: 200px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* paginations stylings  */

.paginationBttns {
  width: 100%;
  height: 40px;
  padding: 10px 0;
  margin-top: 20px;
  list-style: none;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  background-color: #e3e0f0;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: var(--btn-hover-background);
}

.paginationActive a {
  color: white;
  background-color: var(--btn-background);
}

.paginationDisabled a {
  color: white;
  background-color: var(--btn-background);
  opacity: 50%;
}

/* quill editor stylings */
.ql-syntax {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.194);
  color: rgb(0, 0, 0);
  background-color: rgb(225, 218, 218);
  border-radius: 3px;
}
